#jumbotron{
	background-image: url('../images/jumbo.jpg');
	height:70vh;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
#jumbotron h1{
	font-weight: 300px;
}

#main{
	margin-top: 6vh;
	height:auto;
}

#categories{
	flex-wrap: wrap;
	margin-top: 10vh;
}
.cat{
	width:300px;
	/*border:1px solid white;*/
	height: auto;
	margin-bottom: 8vh;
	text-align: center;
	background-color: white;
	color:black;
	border-radius: 10px;
	padding-bottom: 20px;
}
.cat-img{
	width: 100%;
	text-align: center;
	padding-top: 3vh;
}
.cat .cat-img img{
	width: 70%;
}

.cat-heading h3 a{
	text-transform: uppercase;
	font-size: 0.61rem;
	font-weight: 800;
	font-family: Roboto, serif;
	padding-top: 2vh;
	color: #242323;
	text-decoration: none;
} 
.cat-des{
	margin-top: 5vh;
}
.cat-des p{
	font-size: 0.7rem;
}
.cat-des p b{
	border-top: 1px dotted black;
	display: block;
	font-weight: 450;
}
.cat-des p div{
	font-size: 0.1rem;
}
.cat-exp a{
	color: white;
	border-radius: 5px;
	padding: 7px;
	background-color: #898989;
}
.cat-exp a:hover{
	background-color: #3B3B3B;
	text-decoration: none;
}

